hidden = [".config", "node_modules", ".env"]
run = "bash replit-init.sh"
entrypoint = "server/index.ts"
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["bash", "replit-init.sh"]
build = ["npm", "run", "build"]

[packager]
language = "typescript"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = true

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 44411
externalPort = 3002
